@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red !important; */
}

header {
  display: flex;
  font-size: 23px;
  line-height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  color: black;
  font-family: "Roboto Slab", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: black;
  background-color: #b4aeae;
}
hr {
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
}
.hr--top {
  margin-bottom: 50px;
}

.home {
  margin: 50px auto;
  padding: 0 150px 50px;
  color: black;
}

.home:hover {
  color: rgb(226, 86, 43);
}

.content {
  width: 80%;
  margin: 0px auto 0px;
  background-color: rgb(97, 136, 158, 0.7);
}

.values--content {
  padding: 0 50px 50px;
  text-align: justify;
  text-justify: inter-word;
}

.values--content h1 {
  line-height: 40px;
  padding-top: 50px;
}

.values--content p,
h2 {
  line-height: 30px;
  padding: 10px 20px 0;
}

.footer {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.home2 {
  padding-right: 150px;
  padding-bottom: 50px;
  float: right;
  color: black;
}

.home2:hover {
  color: rgb(226, 86, 43);
}
