@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red !important; */
}

header {
  display: flex;
  font-size: 23px;
  line-height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  color: black;
  font-family: "Roboto Slab", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: black;
  background-color: #b4aeae;
}

@media screen and (max-width: 800px) {
  header {
    font-size: 18px;
  }
  .values--content h1 {
    font-size: 24px;
  }
  .values--content h2 {
    font-size: 18px;
  }
  .values--content h3 {
    font-size: 16px;
  }
}

hr {
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
}
.hr--top {
  margin-bottom: 50px;
}

.home {
  color: black;
}

.home:hover {
  color: rgb(226, 86, 43);
}

.link--home {
  width: 100%;
  text-align: center;
}

.content {
  width: 80%;
  margin: 0px auto 0px;
  background-color: rgb(97, 136, 158, 0.7);
}

@media screen and (max-width: 1200px) {
  .content {
    width: 95%;
  }
}

.values--content {
  padding: 0 50px 50px;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .values--content {
    padding: 0 20px 50px;
  }
}

.values--content h1 {
  line-height: 40px;
  padding-top: 50px;
}

.values--content p,
h2,
h3 {
  line-height: 30px;
  padding: 10px 20px 0;
}

.list {
  padding: 5px 50px 0;
}

.footer {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.image {
  width: 800px;
  border-radius: 3px;
  opacity: 0.95;
  margin: 5px 30px;
}

@media screen and (max-width: 1200px) {
  .image {
    width: 90%;
    margin: 5px 10px;
  }
}

.tenor-gif-embed {
  margin: 20px 30px;
}

@media screen and (max-width: 800px) {
  .tenor-gif-embed {
    margin: 20px auto;
  }
}

.video {
  width: 600px;
  margin: 5px 30px;
}

@media screen and (max-width: 900px) {
  .video {
    width: 95%;
    height: 40vh;
    margin: 5px 10px;
  }
}
